
@{
    ViewData["Title"] = "RegistrationError";
}
<div style="background-color:antiquewhite ; padding:15px; border:15px; border-color:saddlebrown; border-radius:15px; opacity:0.85">

    <h3>This EmailId is already in use , Please register with a different !</h3>

    <div>
        <a asp-controller="LoginUsers" asp-action="Login">Click to Login</a>
    </div>
    <div>

        <a asp-controller="RegisterUsers" asp-action="Register">Click to Register</a>


    </div>
    </div>