@{
    ViewData["Title"] = "Home Page";
}

<div   style="background-image: url(https://images5.alphacoders.com/421/421124.jpg) ;min-height:1000px;min-width:1000px">
    <h1  style=" justify-content:space-between;position:center; opacity:0.8; padding:10px; border:10px;border-radius:10px; max-width:fit-content; text-align:center ;color:firebrick;background-color:whitesmoke"> Book Your Event!</h1>
</div>
